<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rewriteMaps>
                <remove name="StaticRedirects" />
                <rewriteMap name="StaticRedirects">
                    <add key="/interceuticals/index.html" value="http://www.interceuticals.com" />
                    <add key="/interceuticals/betterwoman/index.html" value="http://www.betterwomannow.com" />
                </rewriteMap>
            </rewriteMaps>
            <rules>
                <rule name="betterwoman rule" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{StaticRedirects:{REQUEST_URI}}" pattern="(.+)" />
                    </conditions>
                    <action type="Redirect" url="{C:1}" appendQueryString="false" />
                </rule>
                <!-- Redirect all content.aspx?CTF=* requests-->
                <rule name="betterwoman content" stopProcessing="true">
                    <match url="^content\.aspx$" />
                    <conditions>
                        <add input="{QUERY_STRING}" pattern="^CTF=.*$" />
                    </conditions>
                    <action type="Redirect" url="http://www.betterwomannow.com" appendQueryString="false" />
                </rule>
                <!-- Redirect all bw*.html requests-->
                <!--<rule name="betterwoman htmls" stopProcessing="true">
                    <match url="^bw.*\.html$" />
                    <action type="Redirect" url="http://www.betterwomannow.com" appendQueryString="false" />
                </rule>-->
                <!-- Redirect all *.html requests EXCEPT xsellBetterwoman.html and xsellBetterwoman2.html-->
                <rule name="betterwoman htmls" stopProcessing="true">
                    <match url="^.*\.html$" />
                    <conditions>
                         <add input="{HTTP_HOST}" pattern="^xsellBetterwoman\.html$" negate="true" />
                         <add input="{HTTP_HOST}" pattern="^xsellBetterwoman2\.html$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="http://www.betterwomannow.com" appendQueryString="false" />
                </rule>                
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
